.DS_Store

metly_frontend/node_modules/
metly_frontend/.nuxt/
metly_frontend/.output/
metly_frontend/.data/

metly_backend/.venv/
metly_backend/__pycache__/
metly_backend/**/*.pyc
metly_backend/logs/

*.log
metly_backend/.env
metly_frontend/.env
